* {
    margin:0;
    padding:0;
}
.head-line {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}
.head-line svg {
    width: 450px;
}
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top:1px solid #ebebeb;
    padding-bottom: 5px;
    border-bottom: 4px solid black;
}
.menus button {
    border: none;
    background-color: none;
    margin: 5px;
}
.menus button:hover {
    background-color: beige;
}
.news-img-size {
    max-width: 100%;
    max-height: 100%;
}
.col-lg-4 {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
.col-lg-8 {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid lightgray;
}